<% unless user_signed_in? %>
  <!--  <div class="row">
      <div class="col s12 m6 center">
        <h4>Information</h4>
      </div>
    </div>-->
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("banner-1.jpg") %>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Access Better Educatión</h2>
      <p class="flow-text" align="justify">
        Es una plataforma web en la cual se le brinda a estudiantes de bajos recursos, la oportunidad de acceder
        a una mejor educación en las más importantes universidades de la ciudad de Bogotá D.C,
        mediante becas con el 100% de cubrimiento para llevarte a un mejor mañana.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("banner-2.jpg") %>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Que Ofrecemos?</h2>
      <p class="flow-text" align="justify">
        Aquí podrán aplicar a las ofertas que las universidades postulan en todas las áreas,
        pero para poder acceder a estas becas debes cumplir con el 100% de los requerimientos,
        ya que somos muy exigentes y selectivos, debido a que seleccionaremos aquellos estudiantes que quieran
        iniciar y finalizar una carrera profesional con el más alto nivel de educación.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("banner-3.jpg") %>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Como nace la idea?</h2>
      <p class="flow-text" align="justify">
        Gracias a la iniciativa de Piensa Digital entre Fedesoft, Mintic, Colciencias y el Gobierno Nacional,
        se le brinda a estudiantes de carreras digitales la oportunidad de realizar una certificación
        en aplicaciones web y móviles, donde se realizó un análisis de las problemáticas más frecuentes
        en las diferentes localidades y las posibles soluciones, dando lugar a esta iniciativa para que
        personas de los estratos 1, 2 y 3 puedan acceder a carreras profesionales en las más importantes
        universidades de la capital del país.
      </p>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Patrocinadores</h5>
          <ul>
            <li><a class="grey-text text-lighten-4" target="_blank" href="https://fedesoft.org/">Fedesoft</a></li>
            <li><a class="grey-text text-lighten-4" target="_blank" href="https://www.mintic.gov.co/portal/604/w3-channel.html">MinTic</a></li>
            <li><a class="grey-text text-lighten-4" target="_blank" href="http://www.colciencias.gov.co/">Colciencias</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            © 2018 Copyright by Access Better Education
          </div>
          <div class="col l6 s12">
            Framework of Design
            <a class="grey-text text-lighten-4" target="_blank" href="https://materializecss.com/">Materialize</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>
