<header>
  <div class="navbar-fixed">
    <nav class="">
      <div class="container nav-wrapper">
        <a href="<%= root_path %>" id="logo-st" class="brand-logo center">Access Better Education</a>
        <a href="<%= root_path %>" id="logo-nd" class="brand-logo center">ABE</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="<%= new_user_session_path %>">
              <i class="material-icons left">lock_open</i> Login
            </a>
          </li>
<!--          <li>
            <a href="<%#= new_user_registration_path %>">
              <i class="material-icons left">assignment_ind</i> Sign up
            </a>
          </li>-->
        </ul>
      </div>
    </nav>
  </div>
</header>
